/* La forme */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* t'aile d'email */
.email {
    width: 215px;
}
section{
    text-align: center;
}

.section button{
    width: 150px;

}